@model IEnumerable<Blog.Models.Russian>

@{
    ViewBag.Title = "Index";
}



<style>
    body {
        background-image: url('../../Content/Russian/Bacground/FullHD.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: aqua ;
    }
</style>


<h2>Comments</h2>
<p>

</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
   

</table>
<audio controls="controls" autoplay="true">
    <source src="~/Content/background-music/Russian/%d0%9d%d1%83,%20%d0%bf%d0%be%d0%b3%d0%be%d0%b4%d0%b8.mp3" type="audio/mpeg" />
</audio>
